body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3396 {
  position:absolute;
  left:145px;
  top:163px;
  width:375px;
  height:667px;
}
#u3397 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3398 {
  position:absolute;
  left:890px;
  top:184px;
  width:375px;
  height:667px;
}
#u3399 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3400 {
  position:absolute;
  left:170px;
  top:46px;
  width:1128px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3401 {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  word-wrap:break-word;
}
#u3402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3403 {
  position:absolute;
  left:553px;
  top:458px;
  width:300px;
  height:170px;
}
#u3404 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3405 {
  position:absolute;
  left:581px;
  top:477px;
  width:70px;
  height:20px;
}
#u3406 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3407 {
  position:absolute;
  left:581px;
  top:525px;
  width:119px;
  height:20px;
}
#u3408 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u3409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3409 {
  position:absolute;
  left:737px;
  top:597px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u3410 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3411 {
  position:absolute;
  left:798px;
  top:597px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3412 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3413 {
  position:absolute;
  left:363px;
  top:346px;
  width:60px;
  height:60px;
}
#u3414 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3415 {
  position:absolute;
  left:1104px;
  top:349px;
  width:60px;
  height:60px;
}
#u3416 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3417_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:212px;
  height:25px;
}
#u3417p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:206px;
  height:6px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u3417p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u3417p001 {
  position:absolute;
  left:172px;
  top:26px;
  width:26px;
  height:26px;
}
#u3417p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u3417.compound {
  width:0px;
  height:0px;
}
#u3417 {
  position:absolute;
  left:415px;
  top:423px;
  width:200px;
  height:3px;
}
#u3418 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3419_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:292px;
  height:25px;
}
#u3419p000 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:286px;
  height:6px;
  -webkit-transform:rotate(-21deg);
  -moz-transform:rotate(-21deg);
  -ms-transform:rotate(-21deg);
  transform:rotate(-21deg);
}
#u3419p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:6px;
}
#u3419p001 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  height:26px;
}
#u3419p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3419.compound {
  width:0px;
  height:0px;
}
#u3419 {
  position:absolute;
  left:796px;
  top:424px;
  width:279px;
  height:3px;
}
#u3420 {
  position:absolute;
  left:2px;
  top:-6px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
