body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3328 {
  position:absolute;
  left:145px;
  top:163px;
  width:375px;
  height:667px;
}
#u3329 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3330 {
  position:absolute;
  left:890px;
  top:184px;
  width:375px;
  height:667px;
}
#u3331 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3332 {
  position:absolute;
  left:170px;
  top:46px;
  width:1128px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3333 {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  word-wrap:break-word;
}
#u3334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3335 {
  position:absolute;
  left:553px;
  top:458px;
  width:300px;
  height:170px;
}
#u3336 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3337 {
  position:absolute;
  left:581px;
  top:477px;
  width:70px;
  height:20px;
}
#u3338 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3339 {
  position:absolute;
  left:581px;
  top:525px;
  width:119px;
  height:20px;
}
#u3340 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u3341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3341 {
  position:absolute;
  left:737px;
  top:597px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u3342 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3343 {
  position:absolute;
  left:798px;
  top:597px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3344 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3345 {
  position:absolute;
  left:363px;
  top:346px;
  width:60px;
  height:60px;
}
#u3346 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3347 {
  position:absolute;
  left:1104px;
  top:349px;
  width:60px;
  height:60px;
}
#u3348 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3349_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:212px;
  height:25px;
}
#u3349p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:206px;
  height:6px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u3349p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u3349p001 {
  position:absolute;
  left:172px;
  top:26px;
  width:26px;
  height:26px;
}
#u3349p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u3349.compound {
  width:0px;
  height:0px;
}
#u3349 {
  position:absolute;
  left:415px;
  top:423px;
  width:200px;
  height:3px;
}
#u3350 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3351_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:292px;
  height:25px;
}
#u3351p000 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:286px;
  height:6px;
  -webkit-transform:rotate(-21deg);
  -moz-transform:rotate(-21deg);
  -ms-transform:rotate(-21deg);
  transform:rotate(-21deg);
}
#u3351p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:6px;
}
#u3351p001 {
  position:absolute;
  left:2px;
  top:36px;
  width:26px;
  height:26px;
}
#u3351p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3351.compound {
  width:0px;
  height:0px;
}
#u3351 {
  position:absolute;
  left:796px;
  top:424px;
  width:279px;
  height:3px;
}
#u3352 {
  position:absolute;
  left:2px;
  top:-6px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
