body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:519px;
}
#u777 {
  position:absolute;
  left:19px;
  top:34px;
  width:896px;
  height:519px;
}
#u778 {
  position:absolute;
  left:2px;
  top:252px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:782px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u779 {
  position:absolute;
  left:149px;
  top:735px;
  width:781px;
  height:782px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  white-space:nowrap;
}
