body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u78 {
  position:absolute;
  left:104px;
  top:348px;
  width:375px;
  height:667px;
}
#u79 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u80 {
  position:absolute;
  left:92px;
  top:1254px;
  width:375px;
  height:667px;
}
#u81 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:92px;
  top:233px;
  width:783px;
  height:75px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:94px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u84 {
  position:absolute;
  left:53px;
  top:31px;
  width:1101px;
  height:94px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u85 {
  position:absolute;
  left:2px;
  top:5px;
  width:1097px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u86 {
  position:absolute;
  left:915px;
  top:333px;
  width:375px;
  height:667px;
}
#u87 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:437px;
  height:22px;
}
#u88p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:430px;
  height:4px;
}
#u88p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:432px;
  height:6px;
}
#u88p001 {
  position:absolute;
  left:410px;
  top:-10px;
  width:22px;
  height:22px;
}
#u88p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u88.compound {
  width:0px;
  height:0px;
}
#u88 {
  position:absolute;
  left:479px;
  top:450px;
  width:426px;
  height:2px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-7px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u90 {
  position:absolute;
  left:602px;
  top:420px;
  width:127px;
  height:20px;
  color:#0099FF;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:846px;
  top:3107px;
  width:230px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u94_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:640px;
  height:22px;
}
#u94p000 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:634px;
  height:6px;
  -webkit-transform:rotate(52deg);
  -moz-transform:rotate(52deg);
  -ms-transform:rotate(52deg);
  transform:rotate(52deg);
}
#u94p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:6px;
}
#u94p001 {
  position:absolute;
  left:494px;
  top:233px;
  width:22px;
  height:22px;
}
#u94p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u94.compound {
  width:0px;
  height:0px;
}
#u94 {
  position:absolute;
  left:301px;
  top:1632px;
  width:629px;
  height:2px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-7px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u96 {
  position:absolute;
  left:325px;
  top:2003px;
  width:375px;
  height:667px;
}
#u97 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:104px;
  top:1068px;
  width:829px;
  height:100px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u100 {
  position:absolute;
  left:669px;
  top:1674px;
  width:161px;
  height:22px;
  font-size:16px;
  color:#0099FF;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u102 {
  position:absolute;
  left:245px;
  top:1951px;
  width:643px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u104 {
  position:absolute;
  left:308px;
  top:2830px;
  width:375px;
  height:667px;
}
#u105 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:335px;
  top:2766px;
  width:131px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:370px;
  top:3014px;
  width:237px;
  height:125px;
}
#u109 {
  position:absolute;
  left:2px;
  top:54px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:383px;
  top:3102px;
  width:98px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:497px;
  top:3102px;
  width:98px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u114 {
  position:absolute;
  left:393px;
  top:3043px;
  width:191px;
  height:40px;
  text-align:center;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:232px;
  height:22px;
}
#u116p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:224px;
  height:4px;
}
#u116p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:226px;
  height:6px;
}
#u116p001 {
  position:absolute;
  left:205px;
  top:-10px;
  width:22px;
  height:22px;
}
#u116p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u116.compound {
  width:0px;
  height:0px;
}
#u116 {
  position:absolute;
  left:595px;
  top:3116px;
  width:221px;
  height:2px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:959px;
  top:1951px;
  width:643px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u120 {
  position:absolute;
  left:965px;
  top:2003px;
  width:375px;
  height:667px;
}
#u121 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:1053px;
  top:2183px;
  width:237px;
  height:125px;
}
#u123 {
  position:absolute;
  left:2px;
  top:54px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:152px;
  height:22px;
}
#u124p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:144px;
  height:4px;
}
#u124p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:146px;
  height:6px;
}
#u124p001 {
  position:absolute;
  left:125px;
  top:-10px;
  width:22px;
  height:22px;
}
#u124p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u124.compound {
  width:0px;
  height:0px;
}
#u124 {
  position:absolute;
  left:1270px;
  top:2286px;
  width:141px;
  height:2px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-7px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u126 {
  position:absolute;
  left:1076px;
  top:2190px;
  width:191px;
  height:56px;
  text-align:center;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:1066px;
  top:2264px;
  width:98px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:1174px;
  top:2264px;
  width:98px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:206px;
}
#u132 {
  position:absolute;
  left:1433px;
  top:2150px;
  width:273px;
  height:206px;
}
#u133 {
  position:absolute;
  left:2px;
  top:95px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u134 {
  position:absolute;
  left:212px;
  top:4626px;
  width:523px;
  height:92px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u136 {
  position:absolute;
  left:189px;
  top:3844px;
  width:375px;
  height:667px;
}
#u137 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u138 {
  position:absolute;
  left:53px;
  top:202px;
  width:1081px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u139 {
  position:absolute;
  left:2px;
  top:0px;
  width:1077px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u140 {
  position:absolute;
  left:92px;
  top:3570px;
  width:1081px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u141 {
  position:absolute;
  left:2px;
  top:0px;
  width:1077px;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:604px;
  top:3932px;
  width:146px;
  height:150px;
}
#u143 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u144 {
  position:absolute;
  left:626px;
  top:3945px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u146 {
  position:absolute;
  left:626px;
  top:3980px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:626px;
  top:4010px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:626px;
  top:4045px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:836px;
  top:3932px;
  width:146px;
  height:150px;
}
#u153 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u154 {
  position:absolute;
  left:858px;
  top:3945px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u156 {
  position:absolute;
  left:858px;
  top:3980px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u158 {
  position:absolute;
  left:858px;
  top:4010px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u160 {
  position:absolute;
  left:858px;
  top:4045px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u162_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:97px;
  height:22px;
}
#u162p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:88px;
  height:2px;
}
#u162p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:4px;
}
#u162p001 {
  position:absolute;
  left:72px;
  top:-10px;
  width:22px;
  height:22px;
}
#u162p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u162.compound {
  width:0px;
  height:0px;
}
#u162 {
  position:absolute;
  left:750px;
  top:4057px;
  width:86px;
  height:2px;
}
#u163 {
  position:absolute;
  left:2px;
  top:-7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:98px;
  height:22px;
}
#u164p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:88px;
  height:2px;
}
#u164p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:90px;
  height:4px;
}
#u164p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u164p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u164.compound {
  width:0px;
  height:0px;
}
#u164 {
  position:absolute;
  left:750px;
  top:4069px;
  width:86px;
  height:2px;
}
#u165 {
  position:absolute;
  left:2px;
  top:-7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
