body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0 {
  position:absolute;
  left:825px;
  top:2039px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2 {
  position:absolute;
  left:868px;
  top:2342px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:146px;
  top:342px;
  width:375px;
  height:667px;
}
#u5 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6 {
  position:absolute;
  left:158px;
  top:74px;
  width:985px;
  height:199px;
  font-size:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8 {
  position:absolute;
  left:193px;
  top:571px;
  width:300px;
  height:210px;
  font-size:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10 {
  position:absolute;
  left:179px;
  top:362px;
  width:121px;
  height:22px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:458px;
  top:950px;
  width:21px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:199px;
  top:950px;
  width:37px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:541px;
  top:398px;
  width:602px;
  height:470px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:598px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
  text-align:center;
}
#u18 {
  position:absolute;
  left:168px;
  top:781px;
  width:325px;
  height:100px;
  font-size:18px;
  color:#0000FF;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20 {
  position:absolute;
  left:82px;
  top:428px;
  width:54px;
  height:274px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:37px;
  width:50px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u22 {
  position:absolute;
  left:82px;
  top:1114px;
  width:927px;
  height:80px;
  font-size:28px;
  color:#FF0000;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u24 {
  position:absolute;
  left:98px;
  top:1242px;
  width:375px;
  height:667px;
}
#u25 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u26 {
  position:absolute;
  left:147px;
  top:1491px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:197px;
  top:1603px;
  width:181px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u30 {
  position:absolute;
  left:105px;
  top:2039px;
  width:375px;
  height:667px;
}
#u31 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32 {
  position:absolute;
  left:522px;
  top:1242px;
  width:1146px;
  height:478px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:1142px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u34 {
  position:absolute;
  left:253px;
  top:1593px;
  width:80px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:368px;
}
#u36p000 {
  position:absolute;
  left:-180px;
  top:175px;
  width:362px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u36p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:6px;
}
#u36p001 {
  position:absolute;
  left:-12px;
  top:336px;
  width:26px;
  height:26px;
}
#u36p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u36.compound {
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:292px;
  top:1673px;
  width:3px;
  height:356px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:118px;
  width:1px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:901px;
  top:2439px;
  width:233px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:229px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:657px;
}
#u40p000 {
  position:absolute;
  left:-324px;
  top:320px;
  width:652px;
  height:6px;
  -webkit-transform:rotate(35deg);
  -moz-transform:rotate(35deg);
  -ms-transform:rotate(35deg);
  transform:rotate(35deg);
}
#u40p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:6px;
}
#u40p001 {
  position:absolute;
  left:247px;
  top:490px;
  width:26px;
  height:26px;
}
#u40p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:26px;
}
#u40.compound {
  width:0px;
  height:0px;
}
#u40 {
  position:absolute;
  left:640px;
  top:1494px;
  width:3px;
  height:645px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u41 {
  position:absolute;
  left:2px;
  top:262px;
  width:1px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u42 {
  position:absolute;
  left:113px;
  top:2938px;
  width:375px;
  height:667px;
}
#u43 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u44 {
  position:absolute;
  left:162px;
  top:3187px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:212px;
  top:3299px;
  width:181px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u48 {
  position:absolute;
  left:268px;
  top:3289px;
  width:80px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:907px;
  height:25px;
}
#u50p000 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:902px;
  height:6px;
  -webkit-transform:rotate(-40deg);
  -moz-transform:rotate(-40deg);
  -ms-transform:rotate(-40deg);
  transform:rotate(-40deg);
}
#u50p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:6px;
}
#u50p001 {
  position:absolute;
  left:772px;
  top:-295px;
  width:26px;
  height:26px;
}
#u50p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u50.compound {
  width:0px;
  height:0px;
}
#u50 {
  position:absolute;
  left:218px;
  top:3002px;
  width:895px;
  height:3px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-6px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:188px;
}
#u52p000 {
  position:absolute;
  left:-89px;
  top:86px;
  width:182px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u52p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:4px;
}
#u52p001 {
  position:absolute;
  left:-12px;
  top:156px;
  width:26px;
  height:26px;
}
#u52p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:26px;
}
#u52.compound {
  width:0px;
  height:0px;
}
#u52 {
  position:absolute;
  left:301px;
  top:2706px;
  width:3px;
  height:176px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u53 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u54 {
  position:absolute;
  left:115px;
  top:3838px;
  width:375px;
  height:667px;
}
#u55 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u56 {
  position:absolute;
  left:138px;
  top:3680px;
  width:1094px;
  height:120px;
  font-size:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u58 {
  position:absolute;
  left:120px;
  top:4601px;
  width:375px;
  height:667px;
}
#u59 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u60 {
  position:absolute;
  left:169px;
  top:4850px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:219px;
  top:4962px;
  width:181px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u64 {
  position:absolute;
  left:275px;
  top:4952px;
  width:80px;
  height:80px;
}
#u65 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u66 {
  position:absolute;
  left:565px;
  top:4645px;
  width:831px;
  height:537px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u67 {
  position:absolute;
  left:2px;
  top:74px;
  width:827px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u68 {
  position:absolute;
  left:129px;
  top:5420px;
  width:375px;
  height:667px;
}
#u69 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70 {
  position:absolute;
  left:172px;
  top:5723px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:205px;
  top:5820px;
  width:233px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:229px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:340px;
}
#u74p000 {
  position:absolute;
  left:-165px;
  top:162px;
  width:334px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u74p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:4px;
}
#u74p001 {
  position:absolute;
  left:-12px;
  top:308px;
  width:26px;
  height:26px;
}
#u74p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:26px;
}
#u74.compound {
  width:0px;
  height:0px;
}
#u74 {
  position:absolute;
  left:315px;
  top:5032px;
  width:3px;
  height:328px;
}
#u75 {
  position:absolute;
  left:2px;
  top:156px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:108px;
}
#u76p000 {
  position:absolute;
  left:-50px;
  top:45px;
  width:102px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u76p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:6px;
}
#u76p001 {
  position:absolute;
  left:-12px;
  top:76px;
  width:26px;
  height:26px;
}
#u76p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u76.compound {
  width:0px;
  height:0px;
}
#u76 {
  position:absolute;
  left:300px;
  top:4505px;
  width:3px;
  height:96px;
}
#u77 {
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u78 {
  position:absolute;
  left:494px;
  top:2540px;
  width:296px;
  height:175px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u80 {
  position:absolute;
  left:574px;
  top:5723px;
  width:435px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:431px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u83 {
  position:absolute;
  left:419px;
  top:1500px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u84 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u85 {
  position:absolute;
  left:419px;
  top:1500px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u86 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u88 {
  position:absolute;
  left:1140px;
  top:2351px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u89 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u90 {
  position:absolute;
  left:1140px;
  top:2351px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u91 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u93 {
  position:absolute;
  left:434px;
  top:3200px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u94 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u95 {
  position:absolute;
  left:434px;
  top:3200px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u96 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u98 {
  position:absolute;
  left:434px;
  top:4864px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u99 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u100 {
  position:absolute;
  left:434px;
  top:4864px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u101 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u103 {
  position:absolute;
  left:442px;
  top:5734px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u104 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u105 {
  position:absolute;
  left:442px;
  top:5734px;
  width:31px;
  height:2px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u106 {
  position:absolute;
  left:2px;
  top:-7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
  text-align:center;
}
#u107 {
  position:absolute;
  left:168px;
  top:441px;
  width:325px;
  height:100px;
  font-size:18px;
  color:#0000FF;
  text-align:center;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u109 {
  position:absolute;
  left:744px;
  top:2961px;
  width:375px;
  height:667px;
}
#u110 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u111 {
  position:absolute;
  left:789px;
  top:3275px;
  width:300px;
  height:103px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u113 {
  position:absolute;
  left:151px;
  top:2892px;
  width:300px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u115 {
  position:absolute;
  left:782px;
  top:2915px;
  width:300px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:459px;
}
#u117p000 {
  position:absolute;
  left:-225px;
  top:220px;
  width:452px;
  height:6px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u117p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:6px;
}
#u117p001 {
  position:absolute;
  left:176px;
  top:319px;
  width:26px;
  height:26px;
}
#u117p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u117.compound {
  width:0px;
  height:0px;
}
#u117 {
  position:absolute;
  left:493px;
  top:2598px;
  width:3px;
  height:447px;
  font-size:18px;
}
#u118 {
  position:absolute;
  left:2px;
  top:116px;
  width:1px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u119 {
  position:absolute;
  left:98px;
  top:6224px;
  width:917px;
  height:158px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  white-space:nowrap;
}
