body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1908px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:706px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:170px;
  top:194px;
  width:375px;
  height:706px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:345px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1870 {
  position:absolute;
  left:187px;
  top:213px;
  width:26px;
  height:25px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1872 {
  position:absolute;
  left:240px;
  top:215px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1746px;
  height:111px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1874 {
  position:absolute;
  left:162px;
  top:23px;
  width:1746px;
  height:111px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:1746px;
  word-wrap:break-word;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1876 {
  position:absolute;
  left:470px;
  top:216px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:706px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:170px;
  top:1101px;
  width:375px;
  height:706px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:345px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1880 {
  position:absolute;
  left:187px;
  top:1120px;
  width:26px;
  height:25px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1882 {
  position:absolute;
  left:239px;
  top:1122px;
  width:173px;
  height:22px;
  font-size:16px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1884 {
  position:absolute;
  left:432px;
  top:1121px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1886 {
  position:absolute;
  left:491px;
  top:1121px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1888 {
  position:absolute;
  left:208px;
  top:274px;
  width:300px;
  height:27px;
}
#u1888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1889 {
  position:absolute;
  left:208px;
  top:345px;
  width:209px;
  height:44px;
  font-size:16px;
  color:#999999;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1891 {
  position:absolute;
  left:202px;
  top:1186px;
  width:328px;
  height:44px;
  font-size:16px;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1893 {
  position:absolute;
  left:202px;
  top:1307px;
  width:103px;
  height:34px;
  font-size:16px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1895 {
  position:absolute;
  left:330px;
  top:1307px;
  width:103px;
  height:34px;
  font-size:16px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u1897 {
  position:absolute;
  left:209px;
  top:1260px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:331px;
}
#u1899 {
  position:absolute;
  left:209px;
  top:1406px;
  width:306px;
  height:330px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:151px;
  width:302px;
  word-wrap:break-word;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
}
#u1901 {
  position:absolute;
  left:179px;
  top:935px;
  width:379px;
  height:70px;
  font-size:18px;
  color:#0099FF;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  position:absolute;
  left:1207px;
  top:1101px;
  width:375px;
  height:690px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:337px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1906 {
  position:absolute;
  left:1216px;
  top:1113px;
  width:26px;
  height:26px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1908 {
  position:absolute;
  left:1273px;
  top:1114px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1910_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:386px;
  height:12px;
}
#u1910 {
  position:absolute;
  left:1207px;
  top:1143px;
  width:375px;
  height:1px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1912 {
  position:absolute;
  left:1255px;
  top:1240px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1914 {
  position:absolute;
  left:1313px;
  top:1240px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1915 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1916 {
  position:absolute;
  left:1369px;
  top:1240px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1917 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1918 {
  position:absolute;
  left:1485px;
  top:1240px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1919 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1920 {
  position:absolute;
  left:1427px;
  top:1240px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:1254px;
  top:1279px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1923 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1924 {
  position:absolute;
  left:1312px;
  top:1279px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1925 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1926 {
  position:absolute;
  left:1368px;
  top:1279px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1927 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1928 {
  position:absolute;
  left:1484px;
  top:1279px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1929 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:1426px;
  top:1279px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1931 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1932 {
  position:absolute;
  left:1254px;
  top:1317px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1933 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:1312px;
  top:1317px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1935 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1936 {
  position:absolute;
  left:1368px;
  top:1317px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1937 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1938 {
  position:absolute;
  left:1484px;
  top:1317px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1939 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1940 {
  position:absolute;
  left:1426px;
  top:1317px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1942 {
  position:absolute;
  left:1254px;
  top:1357px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1943 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1944 {
  position:absolute;
  left:1312px;
  top:1357px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1945 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1946 {
  position:absolute;
  left:1368px;
  top:1357px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1947 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1948 {
  position:absolute;
  left:1484px;
  top:1357px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:1426px;
  top:1357px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1951 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1952 {
  position:absolute;
  left:1254px;
  top:1397px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1953 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1954 {
  position:absolute;
  left:1312px;
  top:1397px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1955 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1956 {
  position:absolute;
  left:1368px;
  top:1397px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1957 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1958 {
  position:absolute;
  left:1484px;
  top:1397px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1959 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:1426px;
  top:1397px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1961 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1962 {
  position:absolute;
  left:563px;
  top:1347px;
  width:505px;
  height:132px;
  color:#0099FF;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1964 {
  position:absolute;
  left:1207px;
  top:1197px;
  width:375px;
  height:1px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1966 {
  position:absolute;
  left:1230px;
  top:1161px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1967 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:1288px;
  top:1161px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1969 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1970 {
  position:absolute;
  left:1344px;
  top:1161px;
  width:48px;
  height:19px;
  color:#FFFFFF;
}
#u1971 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1972 {
  position:absolute;
  left:1266px;
  top:1156px;
  width:15px;
  height:15px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1974 {
  position:absolute;
  left:1329px;
  top:1156px;
  width:15px;
  height:15px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1976 {
  position:absolute;
  left:1385px;
  top:1154px;
  width:15px;
  height:15px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1978 {
  position:absolute;
  left:1143px;
  top:1842px;
  width:533px;
  height:148px;
  color:#0099FF;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:57px;
}
#u1980 {
  position:absolute;
  left:1160px;
  top:1149px;
  width:480px;
  height:57px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:434px;
}
#u1982 {
  position:absolute;
  left:1174px;
  top:1226px;
  width:449px;
  height:434px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:209px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:87px;
  height:19px;
}
#u1984p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:4px;
}
#u1984p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u1984p001 {
  position:absolute;
  left:65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1984p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u1984.compound {
  width:0px;
  height:0px;
}
#u1984 {
  position:absolute;
  left:1640px;
  top:1170px;
  width:78px;
  height:1px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:87px;
  height:19px;
}
#u1986p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:82px;
  height:4px;
}
#u1986p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:84px;
  height:6px;
}
#u1986p001 {
  position:absolute;
  left:65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1986p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1986.compound {
  width:0px;
  height:0px;
}
#u1986 {
  position:absolute;
  left:1623px;
  top:1446px;
  width:78px;
  height:1px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:1737px;
  top:1161px;
  width:57px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:1730px;
  top:1437px;
  width:57px;
  height:20px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
