body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1841 {
  position:absolute;
  left:194px;
  top:153px;
  width:883px;
  height:136px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1013px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:197px;
  top:423px;
  width:375px;
  height:1013px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:498px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1845 {
  position:absolute;
  left:356px;
  top:446px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1847 {
  position:absolute;
  left:218px;
  top:687px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1848 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1849 {
  position:absolute;
  left:218px;
  top:495px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1850 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1851 {
  position:absolute;
  left:263px;
  top:502px;
  width:279px;
  height:17px;
  font-size:12px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:258px;
  top:529px;
  width:281px;
  height:40px;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1855 {
  position:absolute;
  left:258px;
  top:579px;
  width:276px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1857 {
  position:absolute;
  left:472px;
  top:640px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1858 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1859 {
  position:absolute;
  left:401px;
  top:640px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1860 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1861 {
  position:absolute;
  left:263px;
  top:694px;
  width:279px;
  height:17px;
  font-size:12px;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:263px;
  top:736px;
  width:281px;
  height:40px;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1865 {
  position:absolute;
  left:263px;
  top:786px;
  width:276px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1867 {
  position:absolute;
  left:401px;
  top:844px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1868 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1869 {
  position:absolute;
  left:472px;
  top:844px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1870 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1871 {
  position:absolute;
  left:218px;
  top:888px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1872 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1873 {
  position:absolute;
  left:263px;
  top:895px;
  width:267px;
  height:17px;
  font-size:12px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:73px;
}
#u1875 {
  position:absolute;
  left:225px;
  top:932px;
  width:62px;
  height:72px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:297px;
  top:928px;
  width:233px;
  height:20px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1879 {
  position:absolute;
  left:297px;
  top:951px;
  width:265px;
  height:34px;
  font-size:12px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1881 {
  position:absolute;
  left:401px;
  top:995px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1882 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1883 {
  position:absolute;
  left:472px;
  top:995px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1884 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1885 {
  position:absolute;
  left:194px;
  top:62px;
  width:708px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:681px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1887 {
  position:absolute;
  left:1079px;
  top:418px;
  width:375px;
  height:681px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:332px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1889 {
  position:absolute;
  left:1235px;
  top:450px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1891 {
  position:absolute;
  left:1099px;
  top:680px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1892 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1893 {
  position:absolute;
  left:1142px;
  top:687px;
  width:157px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:73px;
}
#u1895 {
  position:absolute;
  left:1109px;
  top:730px;
  width:62px;
  height:72px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:28px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  position:absolute;
  left:1181px;
  top:726px;
  width:233px;
  height:20px;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1899 {
  position:absolute;
  left:1181px;
  top:749px;
  width:265px;
  height:34px;
  font-size:12px;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1901 {
  position:absolute;
  left:1285px;
  top:793px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1902 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1903 {
  position:absolute;
  left:1356px;
  top:793px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1904 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:1099px;
  top:835px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1906 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1907 {
  position:absolute;
  left:1142px;
  top:842px;
  width:161px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1909 {
  position:absolute;
  left:1144px;
  top:869px;
  width:281px;
  height:40px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1911 {
  position:absolute;
  left:1144px;
  top:919px;
  width:276px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1913 {
  position:absolute;
  left:1282px;
  top:977px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1914 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1915 {
  position:absolute;
  left:1353px;
  top:977px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1916 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1917p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:118px;
  height:2px;
}
#u1917p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:4px;
}
#u1917p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1917p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1917p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1917p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u1917.compound {
  width:0px;
  height:0px;
}
#u1917 {
  position:absolute;
  left:572px;
  top:579px;
  width:115px;
  height:2px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1919p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:118px;
  height:4px;
}
#u1919p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:6px;
}
#u1919p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1919p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1919p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1919p002_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u1919.compound {
  width:0px;
  height:0px;
}
#u1919 {
  position:absolute;
  left:572px;
  top:786px;
  width:115px;
  height:2px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1921p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:118px;
  height:2px;
}
#u1921p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:4px;
}
#u1921p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1921p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1921p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1921p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u1921.compound {
  width:0px;
  height:0px;
}
#u1921 {
  position:absolute;
  left:572px;
  top:959px;
  width:115px;
  height:2px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1923 {
  position:absolute;
  left:708px;
  top:566px;
  width:278px;
  height:79px;
  color:#0099FF;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1925 {
  position:absolute;
  left:708px;
  top:775px;
  width:269px;
  height:69px;
  color:#0099FF;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1927 {
  position:absolute;
  left:708px;
  top:948px;
  width:269px;
  height:79px;
  color:#0099FF;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u1929_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1929p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:118px;
  height:2px;
}
#u1929p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:4px;
}
#u1929p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1929p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u1929p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1929p002_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1929.compound {
  width:0px;
  height:0px;
}
#u1929 {
  position:absolute;
  left:1453px;
  top:817px;
  width:115px;
  height:2px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1931 {
  position:absolute;
  left:1589px;
  top:806px;
  width:269px;
  height:79px;
  color:#0099FF;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u1933_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1933p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:118px;
  height:2px;
}
#u1933p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:4px;
}
#u1933p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1933p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u1933p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1933p002_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1933.compound {
  width:0px;
  height:0px;
}
#u1933 {
  position:absolute;
  left:1453px;
  top:979px;
  width:115px;
  height:2px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1935 {
  position:absolute;
  left:1589px;
  top:966px;
  width:269px;
  height:79px;
  color:#0099FF;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1937 {
  position:absolute;
  left:1104px;
  top:502px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1939 {
  position:absolute;
  left:1149px;
  top:509px;
  width:276px;
  height:17px;
  font-size:12px;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1941 {
  position:absolute;
  left:1131px;
  top:542px;
  width:281px;
  height:40px;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1943 {
  position:absolute;
  left:1131px;
  top:592px;
  width:276px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1945 {
  position:absolute;
  left:1269px;
  top:650px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1946 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:1340px;
  top:650px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1949p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:118px;
  height:2px;
}
#u1949p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:4px;
}
#u1949p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1949p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u1949p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1949p002_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1949.compound {
  width:0px;
  height:0px;
}
#u1949 {
  position:absolute;
  left:1453px;
  top:605px;
  width:115px;
  height:2px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1951 {
  position:absolute;
  left:1589px;
  top:592px;
  width:269px;
  height:79px;
  color:#0099FF;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:218px;
  top:1062px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1954 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1955 {
  position:absolute;
  left:263px;
  top:1069px;
  width:267px;
  height:17px;
  font-size:12px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:234px;
  top:1102px;
  width:281px;
  height:40px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1959 {
  position:absolute;
  left:401px;
  top:1146px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1960 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1961 {
  position:absolute;
  left:472px;
  top:1146px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:219px;
  top:1200px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1966 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1967 {
  position:absolute;
  left:264px;
  top:1207px;
  width:264px;
  height:17px;
  font-size:12px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  position:absolute;
  left:247px;
  top:1234px;
  width:281px;
  height:40px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1971 {
  position:absolute;
  left:403px;
  top:1397px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1972 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1973 {
  position:absolute;
  left:474px;
  top:1397px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:56px;
}
#u1975 {
  position:absolute;
  left:247px;
  top:1332px;
  width:281px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:15px;
  width:277px;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1977 {
  position:absolute;
  left:247px;
  top:1274px;
  width:276px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1979p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:118px;
  height:2px;
}
#u1979p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:4px;
}
#u1979p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1979p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1979p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1979p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:24px;
}
#u1979.compound {
  width:0px;
  height:0px;
}
#u1979 {
  position:absolute;
  left:572px;
  top:1113px;
  width:115px;
  height:2px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1981 {
  position:absolute;
  left:708px;
  top:1102px;
  width:163px;
  height:61px;
  color:#0099FF;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1983_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:135px;
  height:22px;
}
#u1983p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:118px;
  height:4px;
}
#u1983p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:120px;
  height:6px;
}
#u1983p001 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1983p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1983p002 {
  position:absolute;
  left:101px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1983p002_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u1983.compound {
  width:0px;
  height:0px;
}
#u1983 {
  position:absolute;
  left:572px;
  top:1292px;
  width:115px;
  height:2px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:-7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1985 {
  position:absolute;
  left:708px;
  top:1281px;
  width:269px;
  height:79px;
  color:#0099FF;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
