body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3477 {
  position:absolute;
  left:184px;
  top:792px;
  width:375px;
  height:667px;
}
#u3478 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3479 {
  position:absolute;
  left:320px;
  top:111px;
  width:655px;
  height:53px;
}
#u3480 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u3481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3481 {
  position:absolute;
  left:320px;
  top:185px;
  width:449px;
  height:20px;
}
#u3482 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u3483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3483 {
  position:absolute;
  left:328px;
  top:455px;
  width:373px;
  height:60px;
}
#u3484 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u3485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3485 {
  position:absolute;
  left:769px;
  top:185px;
  width:407px;
  height:20px;
}
#u3486 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u3487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3487 {
  position:absolute;
  left:320px;
  top:224px;
  width:365px;
  height:20px;
}
#u3488 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
